<div class="file-viewer-modal">
  <div class="modal-header">
    <h2>{{ data.node.name }}</h2>
    <button mat-icon-button (click)="dialogRef.close()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="file-meta">
    <span>{{ data.path }}</span>
    <span>{{ data.size }} bytes</span>
  </div>
  <div class="file-content">
    <pre><code>{{ data.content }}</code></pre>
  </div>
  <div class="modal-actions">
    <button mat-raised-button (click)="dialogRef.close()">Cerrar</button>
  </div>
</div>
